doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='/js/scripts.js')
        title List form
    body 
        - var formAction = list && list.listname ? `/update/${list.listname}` : '/create'
        - var formTitle = list && list.listname ? `Update ${list.listname} list` : 'Create list'
        - var listname = list ? list.listname : ''
        - var items = list ? list.items : ''

        h1 Create your list 

        if errors && errors.length
            div.error
                ul
                    each error in errors 
                        li #{error.message}

        form(action=formAction method="POST")
            label(for="listname") Name 
            input(type="text" name="listname" id="listname" value=listname placeholder="Enter name")
            div#items-list
                label(for="items") Item 
                input(type="text" name="items[]" id="items" value=items placeholder="Enter a list item")
            button(type="button" onclick="addItem()") Add item 
            button(type="submit") Create